.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
}
.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;

  h2 {
    font-size: 40px;
    color: #302e4d;
    font-family: $font2;
    font-weight: 700;
    margin: 0;
    position: relative;

    &::before {
      content: "";
      height: 4px;
      width: 50px;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: $mainPink;
    }
    &::after {
      content: "";
      height: 4px;
      width: 25px;
      position: absolute;
      top: 100%;
      left: 0;
      margin-top: 8px;
      background-color: $mainPink;
    }
  }
}

.about-content {
  flex: 0 0 100%;
  max-width: 100%;

  .about-text {
    flex: 0 0 100%;
    max-width: 100%;

    h3 {
      font-size: 24px;
      margin-bottom: 15px;
      font-weight: 700;
      color: #302e4d;

      span {
        color: $mainPink;
      }
    }

    p {
      font-size: 16px;
      line-height: 25px;
      color: #504e70;
    }
  }
}
