.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
}
.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;

  h2 {
    font-size: 40px;
    color: #302e4d;
    font-family: $font2;
    font-weight: 700;
    margin: 0;
    position: relative;

    &::before {
      content: "";
      height: 4px;
      width: 50px;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: $mainPink;
    }
    &::after {
      content: "";
      height: 4px;
      width: 25px;
      position: absolute;
      top: 100%;
      left: 0;
      margin-top: 8px;
      background-color: $mainPink;
    }
  }
}

.about-content {
  flex: 0 0 100%;
  max-width: 100%;

  .about-text {
    flex: 0 0 100%;
    max-width: 100%;

    h3 {
      font-size: 24px;
      margin-bottom: 15px;
      font-weight: 700;
      color: #302e4d;

      span {
        color: $mainPink;
      }
    }

    p {
      font-size: 16px;
      line-height: 25px;
      color: #504e70;
    }
  }

  .education {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
  }
  .experience {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #302e4d;
  }

  .timeline-box {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .timeline {
    background-color: #fdf9ff;
    padding: 30px 15px;
    border: 1px solid #d4d4e3;
    border-radius: 10px;
    width: 100%;

    &-item {
      position: relative;
      padding-left: 37px;
      padding-bottom: 50px;

      &:last-child {
        padding-bottom: 0;
      }

      &::before {
        content: "";
        width: 1px;
        position: absolute;
        height: 100%;
        left: 7px;
        top: 0;
        background-color: $mainPink;
      }
    }

    .circle-dot {
      position: absolute;
      left: 0;
      top: 0;
      height: 15px;
      width: 15px;
      left: 0;
      border-radius: 50%;
      background-color: $mainPink;
    }

    &-date {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 12px;
      color: #504e70;

      .fa {
        margin-right: 5px;
      }
    }

    &-title {
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 15px;
      text-transform: capitalize;
      color: #302e4d;
    }

    &-text {
      font-size: 16px;
      line-height: 25px;
      color: #504e70;
      margin: 0;
    }
  }
}

.personal-info {
  flex: 0 0 60%;
  width: 60%;
  margin-top: 40px;

  .info-item {
    flex: 0 0 50%;
    width: 50%;

    p {
      font-weight: 600;
      padding: 10px 0;
      font-size: 16px;
      color: #302e4d;
      border-bottom: 1px solid #e8dfec;
      margin: 0;

      span {
        font-weight: 400;
        color: #504e70;
        margin-left: 4px;
        display: inline-block;
      }
    }
  }

  .buttons {
    margin-top: 30px;

    .btn {
      margin-right: 15px;
      margin-top: 10px;
    }
  }
}

.skills {
  flex: 0 0 40%;
  width: 40%;
  margin-top: 40px;

  .skill-item {
    flex: 0 0 100%;
    width: 100%;
    margin-bottom: 30px;

    h5 {
      line-height: 40px;
      font-size: 600;
      font-size: 16px;
      color: #302e4d;
      text-transform: capitalize;
      margin: 0;
    }

    .progress {
      background-color: #e3e3e3;
      height: 7px;
      border-radius: 4px;
      width: 100%;
      position: relative;

      .progress-in {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background-color: $mainPink;
        border-radius: 4px;
      }

      .skill-precent {
        line-height: 40px;
        position: absolute;
        right: 0;
        top: -40px;
        font-weight: 400;
      }
    }
  }
}
