.service {
  .container {
    padding-bottom: 40px;
  }
  .service-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
    display: flex;

    &-inner {
      background-color: #fdf9ff;
      border: 1px solid #d4d4e3;
      border-radius: 10px;
      padding: 30px 15px;
      text-align: center;
      transition: box-shadow 0.5s ease;

      &:hover {
        box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
      }

      &:hover .icon {
        background-color: $mainPink;
      }
      &:hover .icon .fa {
        color: #fdf9ff;
        font-size: 24px;
      }

      .icon {
        width: 60px;
        height: 60px;
        display: block;
        margin: 0 auto 30px;
        text-align: center;
        border-radius: 50%;
        transition: background-color 0.5s ease;

        .fa {
          transition: 0.5s ease;
          line-height: 60px;
          font-size: 40px;
          color: $mainPink;
        }
      }

      h4 {
        font-size: 18px;
        margin-bottom: 15px;
        color: #302e4d;
        font-weight: 700;
        text-transform: capitalize;
      }

      p {
        font-size: 16px;
        color: #504e70;
        line-height: 25px;
        margin: 0;
      }
    }
  }
}
